<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts/">Posts</a></li>
        <li><a href="/hotels/">Hotels</a></li>
        <li><a href="/airlines/">Airlines</a></li>
        <li><a href="/attractions/">Attractions</a></li>
        <li><a href="/deals/">Deals</a></li>
      </ul>
    </nav>
  </header>

  {{ block "main" . }}{{ end }}

  <footer>
    <p style="text-align:center;">&copy; 2025 Luxe Jet Life</p>
  </footer>
</body>
</html>
